@model ErrorViewModel
@{
    ViewData["Title"] = "خطا";
}

<div class="row">
    <div class="col-md text-center mt-4 bg-light p-5">
        <h1 class="text-danger bg-warning rounded ">خطا</h1>
        <h2 class="text-danger">با عرض پوزش یک خطایی در حین اجرای برنامه پیش آمده است.</h2>
        @if (Model.ShowRequestId){<p><strong>شناسه درخواست :</strong> <code>@Model.RequestId</code></p>}
        @*<h3>Development Mode</h3>
        <p>
            Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
        </p>
        <p>
            <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
        </p>*@
    </div>
</div>

