
@{
    ViewData["Title"] = "مرکز دانلود";
}

<div class="row">
    <div class="col-md">
        <div class="card bg-light text-dark text-right h-100">
            <div class="card-header"><h2 style="font-size:1.5rem;"><i class="fa fa-download align-middle text-warning"></i> @ViewData["Title"]</h2></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-warning text-danger w-100" href="http://ehsan3030.persiangig.com/How-To-Create-And-Upload-A-Website.zip/download?38b9">
                            ویدیوی آموزشی نحوه ساخت و آپلود وب سایت
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-warning text-danger w-100" href="http://p30download.com/fa/entry/75245/%D8%AF%D8%A7%D9%86%D9%84%D9%88%D8%AF-adobe-dreamweaver-cc-2018-%D9%86%D8%B1%D9%85-%D8%A7%D9%81%D8%B2">
                            نرم افزار Adobe Dreamweaver
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-warning text-danger w-100" href="http://p30download.com/fa/entry/450/">
                            نرم افزار CuteFtp
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-warning text-danger w-100" href="http://p30download.com/fa/entry/10932/">
                            نرم افزار Easy GIF Animator Pro
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-warning text-danger w-100" href="https://www.downloadsoftware.ir/cssslider.php">
                            نرم افزار Css Slider
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-warning text-danger w-100" href="https://download.ir/%D8%AF%D8%A7%D9%86%D9%84%D9%88%D8%AF-%D9%86%D8%B1%D9%85-%D8%A7%D9%81%D8%B2%D8%A7%D8%B1-microsoft-visual-studio-2017/">
                            نرم افزار Visual Studio
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-warning text-danger w-100" href="https://code.visualstudio.com/">
                            نرم افزار Visual Studio Code 
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-warning text-danger w-100" href="http://koala-app.com/">
                            نرم افزار Koala
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
