@{
    ViewData["Title"] = ViewData["MetaDescription"] = "پیوندهای مفید";
}

<div class="row">
    <div class="col-md-12">
        <div class="card bg-light text-dark text-right h-100">
            <div class="card-header"><h2 style="font-size:1.5rem;"><i class="fa fa-link align-middle text-info"></i> @ViewData["Title"]</h2></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.w3.org">
                            وب سایت رسمی کنسرسیوم جهانی وب
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.w3schools.com">
                            W3 Schools
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.html.ir">
                            آموزش مفاهیم HTML به زبان فارسی
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.webtarget.ir/">
                            وب تارگت : آموزش طراحی وب به زبان فارسی
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://unicodinator.com/">
                            کاراکترهای یونیکد به همراه کدشان
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://jsoneditoronline.org/">
                            امکان ایجاد، مشاهده و ویرایش کدهای JSON
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.neopersia.org/">
                            نئو پرشیا :
                            آموزش دوره های مرتبط با وب
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://webfocus.ir/portal/">
                            وب فوکس :
                            آموزش دوره های مرتبط با وب
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.developer1.ir/">
                            Developer Studio Network :
                            آموزش وب 
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.impressivewebs.com/">
                            Impressive Web :
                            آموزش مطالب مرتبط با وب
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.cssvalues.com">
                            CSS Values :
                            مقادیر مجاز CSS
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.csscomb.com/online">
                            CSS Comb :
                             مرتب کردن ویژگی های CSS
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.jsfiddle.net/">
                            JS Fiddle :
                             نگارش و اجرای آنلاین کدها
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.jquery.com">
                            jQuery Official Website 
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.slideshare.net/simon/learning-jquery-in-30-minutes">
                            آموزش ساده و مختصر jQuery در 30 دقیقه
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.slideshare.net/simon/learning-jquery-in-30-minutes">
                            وب سایت معروف و معتبر آموزش jQuery
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.webconfs.com/15-minute-seo.php/">
                            آموزش اصول بهینه سازی جستجو - SEO
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.trendmx.com/seo/seo-guide-start.aspx/">
                            آموزش اصول بهینه سازی جستجو - SEO
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.json.org">
                            وب سایت رسمی JSON
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.cmsmatrix.org/">
                             معرفی و مقایسه انواع CMS 
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.asp.net">
                            وب سایت رسمی مایکروسافت برای ASP.NET
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://forums.asp.net/">
                            انجمن وب سایت رسمی ASP.NET
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.how2learnasp.net/">
                            وب سایت آموزش ASP.NET به زبان فارسی
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://forum.how2learnasp.net/Default.aspx">
                            انجمن سایت  ASP.NET به زبان فارسی
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://webdevchecklist.com/">
                            چک لیست طراحی وب برای برنامه نویسان
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.stackoverflow.com">
                              پرسش و پاسخ  برنامه نویسی
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://barnamenevis.org/forum/">
                            انجمن  پرسش و پاسخ  برنامه نویسی 
                        </a>
                    </div>
                    <div class="col-md mt-3">
                        <a class="btn btn-outline-info w-100" href="http://www.dotnettips.info/">
                             آموزش پیشرفته دات نت 
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

