@font-face {
    font-family: "emoh-koodak";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/koodak/koodak.eot");
    src: url("../fonts/koodak/koodak.eot?#iefix") format("embedded-opentype") /* IE6-8 */
    ,url("../fonts/koodak/koodak.woff2") format("woff2") /* Chrome36+, Opera24+*/
    ,url("../fonts/koodak/koodak.woff") format("woff") /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    ,url("../fonts/koodak/koodak.ttf") format("truetype");
}

body {
    direction: rtl;
    font-family: emoh-koodak, Tahoma;
    background-color: #181822;
}

footer > p {
    font-size: .9rem;
}

nav.navbar {
    font-size: 1.15rem;
}
.linkText {
    font-size: 1.4rem;
}
.domain-card {
    -webkit-transition: all .4s;
    transition: all .4s;
}

    .domain-card:hover {
        -ms-transform: scale(1.01,1.01);
        -webkit-transform: scale(1.01,1.01);
        transform: scale(1.01,1.01);
        box-shadow: 0 0 5px 5px grey;
    }

div#goTop {
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    display:none;
}
